* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

.section-navBar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 100;
}

.textoNavBar {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
}

.navBar-items {
    display: flex;
}

.navBar-items a {
    margin-right: 10px;
}

.navBar-items a img {
    width: 24px;
}

.section-foto {
    position: relative;
    width: 100%;
}

.section-foto img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px; /* Añadiendo margen inferior a las imágenes */
}

.seccion-provincia {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    color: #fff;
    max-width: 80%;
}

.descubre-puntarenas {
    font-size: 36px; /* Aumentando el tamaño del texto */
    font-weight: bold;
    margin-bottom: 10px;
}

.link-verde {
    color: #4CAF50;
    font-weight: bold;
    font-size: 24px;
}

.link-verde:hover {
    text-decoration: underline;
}

.vamos-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s; /* Transición de colores */
    cursor: pointer;
}

.vamos-button:hover {
    background-color: #fff;
    color: #4CAF50;
}

.options {
    display: flex;
    justify-content: center;
}

.item {
    text-align: center;
    margin-top: 20px;
}

.item h4 {
    margin-top: 5px;
    color: #666;
    text-align: center;
}

.section-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px; /* Añadiendo margen superior */
    margin-bottom: 30px; /* Añadiendo margen inferior */
}

.info-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info-img,
.info-text {
    width: 50%;
}

.info-text {
    text-align: justify; /* Puedes cambiar a 'right' si quieres alinear a la derecha */
    margin-left: 20px;
    margin-right: 20px; /* Añadiendo margen izquierdo a los textos */
}

.info-img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Añadiendo bordes redondeados */
}

.info-text h4 {
    margin-bottom: 15px;
}

.green-link {
    color: #4CAF50;
    font-size: 18px;
}

.green-link:hover {
    text-decoration: underline;
}

.green-link img {
    vertical-align: middle;
    width: 20px;
}

.footer {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.redes {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.redes .item {
    margin: 0 10px;
}

.redes .item img {
    width: 24px;
}

