*{
    margin: 0%;
    padding: 0%;
}

body{
    height: 100vh;
    width: auto;
}

/* Seccion de arriba de la foto, Nav Bar */
.section-navBar{
    height: 8vh;
    border: solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.navBar-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    height: 100%;

}

/* Toda la Segunda Parte de la foto de Guia */
.section-foto{
    height: 90vh;
    border: solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contenedor-nombre{
    width: 10%;
    height: 5%;
    border: solid purple;
    
    /* como es un div, le puse esto para centrarlo, se puede sacar del div y usar otras propiedades */
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-home{
    border: green solid;
    width: 60%;
    height: 60%;

    /* como es un div, le puse esto para centrarlo, se puede sacar del div y usar otras propiedades */
    display: flex;
    align-items: center;
    justify-content: center;
}

.options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 10%;
    border: solid yellow;
}


.section-info{
    height: 60vh;
    border: solid orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 50%
}

.info-text{
    border: solid blue;
    width: 60%;
    height: 100%;
}

.info-img{
    border: solid pink;
    width: 60%;
    height: 100%;
}

.footer{
    height: 10vh;
    border: solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes{
    margin-top: -.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50%;
    gap: 1%;
}