/* Add your CSS styles here */
.cart-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}
.cart-item img {
    max-width: 100px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}
.cart-item-details {
    display: inline-block;
    vertical-align: middle;
}
.cart-item-title {
    font-weight: bold;
}
.cart-item-price {
    color: green;
}
.cart-item-quantity {
    margin-top: 5px;
}

.hide{
    display: none;
}

/* Prubea */