/* Estilo para la sección de ofertas */
.ofertas-section {
	padding: 50px 0;
	background-color: #fffcfc;
  }

  .evento-card {
	margin-bottom: 20px;
  }

  .descuento-label {
	position: absolute;
	top: -520px;
	left: -175px;
	background-color: green;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;

  }

  .btn {
	background-color: green;
	color: #fff;
	border-color: green;

  }

  .titulo-ofertas,
  .titulo-eventos {
	color: green;
	font-size: 50px;

  }

  .carousel-caption {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	border-radius: 10px;
  }
  
  .carousel-caption h3,
  .carousel-caption p {
	color: #fff;
  }
  
  .ofertas-section .container {
	padding-left: auto;
	padding-right: auto;
  }
  
  .carousel-inner {
	width: 100%;

	border-radius: 10px;
	overflow: hidden;
  }
  
  .carousel-item img {
	width: 120%;
	height: auto;
	border-radius: 10px;
  }
  
  /* Estilos generales */
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
  }
  
  /* Estilos para las cards */
  .container-card {
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
  }
  
  .title-cards {
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
  }
  
  .card {
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	transition: all 400ms ease-out;
	cursor: default;
  }
  
  .card:hover {
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
	transform: translateY(-3%);
  }
  
  .card img {
	width: 100%;
	height: 210px;
  }
  
  .card .contenido-card {
	padding: 15px;
	text-align: center;
  }
  
  .card .contenido-card h3 {
	margin-bottom: 15px;
	color: #7a7a7a;
  }
  
  .card .contenido-card p {
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
  }
  
  .card .contenido-card a {
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: green;
	border: 1px solid green;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
  }
  
  .card .contenido-card a:hover {
	background: green;
	color: #fff;
  }
  
  /* Media query para pantallas pequeñas */
  @media only screen and (min-width: 320px) and (max-width: 768px) {
	.container-card {
	  flex-wrap: wrap;
	}
  
	.card {
	  margin: 15px;
	}
  }




  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	font-family: 'Montserrat', sans-serif;
	background-color: #fff;
	color: #333;
  }
  
  a {
	text-decoration: none;
	color: inherit;
  }

  .section-navBar {
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	z-index: 100;
  }
  
  .textoNavBar {
	font-size: 24px;
	font-weight: bold;
	color: #4CAF50;
  }
  
  .navBar-items {
	display: flex;
  }
  
  .navBar-items a {
	margin-right: 10px;
  }
  
  .navBar-items a img {
	width: 24px;
  }
  
  .content {
	z-index: 1; 
  }
  